body,
html {
  background: url();
  margin: 0px;
  padding: 0px;
  background-color: #adadad; /* Used if the image is unavailable */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  font-family: 'Pacifico', cursive;
}

.footer {
    margin-top: 15px;
    padding: 15px;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }