body,
html {
  background: url();
  margin: 0px;
  padding: 0px;
  background-color: #615d55; /* Used if the image is unavailable */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  font-family: 'Pacifico', cursive;
}

#banner {
  background-color:rgb(110, 199, 144);
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}

.footer {
  background-color:rgb(110, 199, 144);
  margin-top: 15px;
  padding: 15px;
  margin-right: 0px;
  margin-left: 0px;
  }

  #logo {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .titles {
    margin-top: 30px;
    text-align: left;
  }

  